# EditorConfig is awesome:http://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = tab:warning

# Code files
[*.{cs,csx}]
indent_size = 4

# Xml project files
[*.{csproj,vcxproj,vcxproj.filters,proj,projitems,shproj}]
indent_size = 2

# Xml config files
[*.{props,targets,ruleset,config,nuspec,resx,vsixmanifest,vsct}]
indent_size = 2

# Javascript files
[*.{json,js}]
indent_size = 2

# Dotnet code style settings:
[*.cs]
# Sort using and Import directives with System.* appearing first
dotnet_sort_system_directives_first = true

# Require var all the time.
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_var_elsewhere = true:suggestion

# Newline settings
csharp_new_line_before_open_brace = all:warning
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true

# Pattern Matching
csharp_style_pattern_matching_over_is_with_cast_check = true:warning
csharp_style_pattern_matching_over_as_with_null_check = true:warning

# Inlined variable declarations
csharp_style_inlined_variable_declaration = true:warning

# Null checking
csharp_style_throw_expression = true:suggestion

# C# conditional delegate
csharp_style_conditional_delegate_call = true:suggestion

# Prefer braces
csharp_prefer_braces = true:warning

# Indentation options
csharp_indent_case_contents = true:warning
csharp_indent_switch_labels = true:warning
